include mixins
extends layout

block content
    input(type='file',style='display: none', name='uploadUssdFiles',id='uploadUssdFiles')
    input(type='file',style='display: none', name='uploadPhonesFiles',id='uploadPhonesFiles')
    .content
      .row
        .col-md-6
            .panel.panel-default
                .panel-heading
                    .glyphicon.glyphicon-send(aria-hidden="true")
                    Коды для обработки
                table.table.table-bordered#codes-list
                    thead
                        tr
                            th Код
                            th Номинал
                            th Обработано
                            th Статус
        .col-md-6
            .panel.panel-default
                .panel-body
                    .btn-toolbar
                        button.btn.btn-primary Обработать 25 кодов
                        .btn-group
                            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Загрузить 
                                span.caret
                            ul.dropdown-menu
                                li: a(href="#")(id='upload-ussd-codes') Загрузить коды
                                li: a(href="#")(id='addSimcardsFilesButton') Загрузить сим-карты
            .panel.panel-default
                .panel-heading
                    .glyphicon.glyphicon-flash(aria-hidden="true")
                    Сим-карты
                table.table.table-bordered#simcards-list
                    thead
                        tr
                            th Номер
                            th Баланс
                            th Прогноз
            .panel.panel-default
                .panel-heading
                    Статистика
                .panel-body Успешно: 53
                    br
                    Ошибок: 1